<!-- Error Message to display if the new recipe type cannot be added -->
<% if @error %>
  <h3 class="error">Please select food to generate recipes</h3>
<% end %>

<!-- Select available food items -->
<body>
  <h2>Select Available Food Items</h2>
  <form action="/get_recipes">
    <h3>Grains</h3>
    <% Food.all.each do |food| %>
      <% if food.category_id == 4 %>
        <label><input type="checkbox" name="foods[food_id][]" value="<%= food.id %>"><%= food.name %></label>
      <% end %>
    <% end %>
    <h3>Proteins</h3>
    <% Food.all.each do |food| %>
      <% if food.category_id == 5 %>
        <label><input type="checkbox" name="foods[food_id][]" value="<%= food.id %>"><%= food.name %></label>
      <% end %>
    <% end %>
    <h3>Dairy</h3>
    <% Food.all.each do |food| %>
      <% if food.category_id == 1 %>
        <label><input type="checkbox" name="foods[food_id][]" value="<%= food.id %>"><%= food.name %></label>
      <% end %>
    <% end %>
    <h3>Fruits</h3>
    <% Food.all.each do |food| %>
      <% if food.category_id == 3 %>
        <label><input type="checkbox" name="foods[food_id][]" value="<%= food.id %>"><%= food.name %></label>
      <% end %>
    <% end %>
    <h3>Vegetables</h3>
    <% Food.all.each do |food| %>
      <% if food.category_id == 6 %>
        <label><input type="checkbox" name="foods[food_id][]" value="<%= food.id %>"><%= food.name %></label>
      <% end %>
    <% end %>
    <h3>Fats/Oils</h3>
    <% Food.all.each do |food| %>
      <% if food.category_id == 2 %>
        <label><input type="checkbox" name="foods[food_id][]" value="<%= food.name %>"><%= food.name %></label>
      <% end %>
    <% end %>
    <center>
      <p>
      <input type="submit" class="submit">
    </p>
    </center>
  </form>
</body>
