<!-- View all food items -->
<body>

  <div id="home">
    <nav>
      <button><a href="/home" class="button_links_sidebar">Home</a></button>
      <button><a href="/view_all_food" class="button_links_sidebar">View All Food</a></button>
      <button><a href="/select_food" class="button_links_sidebar">Select the Food You Have</a></button>
      <button><a href="/all_recipes" class="button_links_sidebar">View All Recipes</a></button>
      <button><a href="/view_recipe_types" class="button_links_sidebar">View Recipe Types</a></button>
      <button><a href="/all_categories" class="button_links_sidebar">View Food Categories</a></button>
    </nav>
    <div style="clear: both">
    </div>
  </div>

  <div>
    <nav>
      <button class="sub_nav"><a href="/add_food" class="button_link smaller_font">Add a New Food</a></button>
      <button class="sub_nav"><a href="/select_food" class="button_link smaller_font">Choose Your Food</a></button>
    </nav>
  </div>

  <div class="other_half">
    <h2>View All Food</h2>
    <ul>
      <h3>Grains</h3>
      <% Food.all.each do |food| %>
        <% if food.category_id == 4 %>
          <li><i><%= food.name %></i></li>
        <% end %>
      <% end %>
      <h3>Proteins</h3>
      <% Food.all.each do |food| %>
        <% if food.category_id == 5 %>
          <li><i><%= food.name %></i></li>
        <% end %>
      <% end %>
      <h3>Dairy</h3>
      <% Food.all.each do |food| %>
        <% if food.category_id == 1 %>
          <li><i><%= food.name %></i></li>
        <% end %>
      <% end %>
      <h3>Fruits</h3>
      <% Food.all.each do |food| %>
        <% if food.category_id == 3 %>
          <li><i><%= food.name %></i></li>
        <% end %>
      <% end %>
      <h3>Vegetables</h3>
      <% Food.all.each do |food| %>
        <% if food.category_id == 6 %>
          <li><i><%= food.name %></i></li>
        <% end %>
      <% end %>
      <h3>Fats/Oils</h3>
      <% Food.all.each do |food| %>
        <% if food.category_id == 2 %>
          <li><i><%= food.name %></i></li>
        <% end %>
      <% end %>
    </ul>
    <div style="clear: both">
    </div>
  </div>

</body>
