<!-- View all food items -->
<head>
  <h1><center>
    View All Food
  </center></h1>
</head>
<body>
  <ul>
    <% Food.all.each do |food| %>
      <h3>Grains</h3>
      <% if food.category == 4 %>
        <li><b><%= food.id %></b> - <i><%= food.name %></i></li>
      <% end %>
      <h3>Proteins</h3>
      <% if food.category == 5 %>
        <li><b><%= food.id %></b> - <i><%= food.name %></i></li>
      <% end %>
      <h3>Dairy</h3>
      <% if food.category == 1 %>
        <li><b><%= food.id %></b> - <i><%= food.name %></i></li>
      <% end %>
      <h3>Fruits</h3>
      <% if food.category == 3 %>
        <li><b><%= food.id %></b> - <i><%= food.name %></i></li>
      <% end %>
      <h3>Vegetables</h3>
      <% if food.category == 6 %>
        <li><b><%= food.id %></b> - <i><%= food.name %></i></li>
      <% end %>
      <h3>Fats/Oils</h3>
      <% if food.category == 1 %>
        <li><b><%= food.id %></b> - <i><%= food.name %></i></li>
      <% end %>
    <% end %>
  </ul>
  <p>
    <a href="/add_food">Add new food</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
